<ul class="navbar-nav sidebar sidebar-dark accordion bg-primary text-white sticky-top">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">PPT docentes</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" [routerLink]="['.']">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span class="text-white">Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Planes de Trabajo
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" [routerLink]="['workplans', 'view']">
      <i class="fas fa-fw fa-cog"></i>
      <span>Gestion</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" [routerLink]="['workplans', 'activity']">
      <i class="fas fa-fw fa-cog"></i>
      <span>Actividades</span>
    </a>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Proyectos de Aula
  </div>

  <li class="nav-item">
    <a class="nav-link collapsed" [routerLink]="['projects', 'view']">
      <i class="fas fa-fw fa-cog"></i>
      <span>Gestion</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" [routerLink]="['projects', 'activity']">
      <i class="fas fa-fw fa-cog"></i>
      <span>Actividades</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

</ul>
